<form>
  <div>
    <label>identifiant
      <input
        placeholder="identifiant"
        type="text"
      >
    </label>
    <label>Titre
      <input
        placeholder="titre"
        type="text"
      >
    </label>
  </div>
  <ul>
    <li>
      <label>Film
        <input
          type="checkbox"
        >
      </label>
    </li>
    <li>
      <label>Serie
        <input
          type="checkbox"
        >
      </label>
    </li>
    <li>
      <label>Episode
        <input
          type="checkbox"
        >
      </label>
    </li>
  </ul>
  <label>Date de sortie
    <input
      type="date"
    >
  </label>
  <ul>
    <li>
      <label>complete
        <input
          type="checkbox"
        >
      </label>
    </li>
    <li>
      <label>courte
        <input
          type="checkbox"
        >
      </label>
    </li>
  </ul>
</form>